<!DOCTYPE html>
<html ng-app="ct">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header"><a class="navbar-brand" href="javascript:;">chatroom</a></div>
    </div>
</div>

<div class="container" style="margin-top:100px;">
    <div class="col-md-12">
        <div class="panel panel-default room" ng-controller="RoomCtrl">
            <div class="panel-heading room-header">TechNode</div>
            <div class="panel-body room-content">
                <div class="messages list-group" auto-scroll-to-bottom>
                    <div class="list-group-item message" ng-repeat="message in messages track by $index">
                        某某：{{message}}
                    </div>
                </div>
                <form class="message-creator" ng-controller="MessageCreatorCtrl">
                    <div class="form-group">
                        <textarea name="sendMsgArea" id="sendMsgArea" cols="30" rows="2" class="form-control message-input" required="" ng-model="newMessage" ctrl-enter-break-line="createMessage()" placeholder="Ctrl + Enter to quick send"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/components/angular/angular.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>
</body>
</html>